.conrainer {
    display: grid;
    /* grid-gap: 70px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;

}

.shoppingСenter__container {
    margin: 80px 0;
    display: grid;
    grid-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.shoppingСenter__container a {
    text-decoration: none;
}

.shoppingСenter {
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    font-size: 24px;
    color: black;
}

.shoppingСenter__box {
    border: 2px solid rgba(14, 14, 14, 0.301);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.shoppingСenter__title {
    line-height: 2em;
    font-size: 26px;
    color: rgb(52, 113, 228);
    text-transform: uppercase;
}

.shoppingСenter img {
    height: 100px;
}

.title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.title img {
    width: 100px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    margin-right: 16px;
}

.shop__card {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 226px;
    height: 380px;
    font-size: 18px;
    font-weight: bold;
}

.shop__card a {
    text-decoration: none;
    color: black;
}

.shop__card__svg {
    position: absolute;
    transform: translate(-18px, -12px);
}

.boutique__img {
    box-sizing: border-box;
    width: 226px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    margin-bottom: 10px;
}

.shop__card:hover .boutique__img {
    border: 1px solid rgba(0, 0, 255, 0.932);
}

.shop__card:hover a {
    color: blue;
}

.pluse__btn {
    padding-top: 60px;
    margin: 60px 0 65px 0;
    text-align: center;
}

/* {
    font-size: 18px;
    font-family: "Franklin Gothic Demi Cond";
    color: rgb( 80, 128, 253 );
    line-height: 2.667;
    text-align: right;
    position: absolute;
    left: 412px;
    top: 1405px;
    width: 138px;
    height: 15px;
    z-index: 44;
  } */
@media screen and (max-width: 960px) {
    .conrainer {
        display: grid;
        /* grid-gap: 70px; */
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center
    }
}

@media screen and (max-width: 700px) {
    .conrainer {
        display: grid;
        /* grid-gap: 70px; */
        grid-template-columns: 1fr 1fr;
        justify-items: center
    }
}

@media screen and (max-width: 500px) {
    .conrainer {
        display: grid;
        grid-gap: 70px;
        grid-template-columns: 1fr;
        justify-items: center
    }

    .shop__card {
        margin-top: 50px;

        width: 100%;
        height: 100%;

        max-width: 300px;
    }

    .boutique__img {
        width: 100%;
        height: 100%;
    }
}