.title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.none {
    display: none;
}

.title img {
    width: 100px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    margin-right: 16px;
}

.conrainer {
    margin-top: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center
}

.shop__card {
    width: 50%;
    max-width: 590px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-size: 24px;
    color: black;
}


.contend__img {
    position: relative;
}

.contend__img>img {
    height: 574px;
    width: 500px;
}


.shop__card__svg {
    top: 0;
    position: absolute;
    transform: translate(-18px, -12px);
}

.shop__card__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.description__time {
    margin-top: 45px;
    font-size: 30px;
    font-weight: 900;
    color: #cccccc;
}

.description__time span {

    padding: 5px;
    border-radius: 5px;
    font-size: 30px;
}

.contend__title {
    letter-spacing: -0.03em;


    line-height: 1.2;
    font-size: 30px;
    font-weight: 900;
    color: black;
}

.contend__price {
    margin: 35px 0;
    font-size: 24px;
    font-weight: 900;
    color: #999999;
}

.contend__price span {
    border-radius: 5px;
    margin-right: 25px;
    border: 1px solid #cccccc;
    padding: 8px;
}

.contend__location {
    font-size: 24px;
    font-weight: 900;
}

.contend__description {
    line-height: 50px;
    font-size: 24px;
    font-weight: 900;
    color: #999999;
}

.description {
    line-height: 70px;
    font-size: 24px;
    font-weight: 900;
    color: #999999;
}






@media screen and (max-width: 960px) {
    .conrainer {}
}

@media screen and (max-width: 700px) {
    .conrainer {}
}

@media screen and (max-width: 500px) {
    .conrainer {}

    .shop__card {}

}