body {
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
    font-family: "Franklin Gothic Demi Cond";
}


img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    text-align: center;
}

.title__btn {
    border: none;
    background-color: white;
    color: red;

}

.title__btn.active {
    color: blue;
}



@media screen and (max-width: 960px) {}