.header {
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    padding-bottom: 20px;
    z-index: 50;
    background-color: red;
    max-height: 229px;
}

.header_active {
    background: #0E1D28;
}

.header__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1280px;
}

.header__nav {
    margin-left: 80px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.header_entrance {
    margin-right: 15px;
}



.header_entrance__btn {
    height: 43px;
    width: 77px;
    font-size: 16px;
    font-weight: 900;

    background-color: #fff;
    border-radius: 15px;

}

.header__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin-right: 82px;
    padding-bottom: 30px;
    justify-content: flex-end;
    align-items: center
}

.header__item:last-child {
    margin-right: 0;
}

.header__item img {
    height: 32px;
    fill: black;
}

.header__item__img {
    border-radius: 100%;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -32px;
}



.header__link {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    font-family: "Franklin Gothic Demi Cond";
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center
}


.submenu {
    border: 2px solid rgb(80, 128, 253);
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    width: 250px;
    transform: translateY(350px);
    background-color: #fff;
    display: none;
}


.header__item:hover>.submenu {
    display: inline;

}

.header__link.active .header__item__img {
    margin-top: -50px;
    height: 52px;
    background-color: blue;
}

.submenu::after {
    display: block;
    content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-20px);
    border: 20px solid transparent;
    border-bottom: 20px solid rgb(80, 128, 253);
}

.submenu__item {
    max-height: 330px;
    overflow-y: scroll;
}



.submenu__item li {
    padding: 20px 10px;
    border-bottom: 2px solid #E8E8E8;
}

.submenu__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-family: "Franklin Gothic Book";

}

.submenu__item::-webkit-scrollbar {
    width: 17px;
    background-color: #F1F1F1;
}

.submenu__item::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
}

.header__burger {
    display: none;
    width: 40px;
    height: 28px;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.burger__line_btn {
    justify-content: flex-end;
    height: 43px;
    width: 77px;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    bottom: 0;
}

.saerch {
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    position: relative;

}

.saerch__form {
    width: 100%;
    max-width: 980px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.saerch__btn {
    width: 37px;
    height: 30px;
    margin-right: 25px;
    border: none;
    background: none;
    padding: 0;
    position: relative;

}

.saerch__line {
    display: block;

    border-radius: 5px;
    width: 100%;
    height: 5px;
    background-color: #fff;
}

.saerch__form span {
    font-size: 18px;
    font-weight: bold;
    line-height: 5px;
    font-family: "Franklin Gothic Demi Cond";
    text-transform: uppercase;
    color: black;

    margin-right: 22px;
}

/* 

.saerch__line::after,
.saerch__line::before {
    display: block;
    content: "";
    border-radius: 5px;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.saerch__line::after {
    top: 0;
}

.saerch__line::before {
    bottom: 0;
} */

.search__input__wrrap {
    width: 100%;
    border-radius: 40px;
    height: 40px;
    padding-left: 15px;
    background-color: #fff;

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__input__btn {
    border: none;
    height: 40px;
    width: 40px;
    background-color: rgb(192, 192, 192);
    background-image: url(../../img/svg/search-solid.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;

}

.search__input__wrrap input {
    border: none;
    background: none;
    width: calc(100% - 40px);
    height: 100%;
    max-width: 807px;
    font-size: 16px;
    font-weight: bold;
    line-height: 5px;
    font-family: "Franklin Gothic Demi Cond";
    text-transform: uppercase;
    color: black;


}

/* Стили для контейнера */





@media screen and (max-width: 960px) {
    .section-title {
        margin-bottom: 25px;
    }

    .section-title::after {
        width: 78px;
    }

    .header__burger {
        display: block;
    }

    .header__wrapper {
        padding-top: 28px;
    }

    .header__nav {
        max-width: 100%;
        height: 100%;
        position: fixed;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        top: 0;
        left: 0;
        background-color: #000000c9;
        z-index: 10;
        padding: 65px 10px;
        transform: translateX(-100%);
        transition: .2s all linear;
    }

    .header__nav_active {
        transform: translateX(0);
    }

    .header__nav_active body {
        overflow-y: hidden
    }

    .header__list {
        overflow: auto;
    }

    .header__item {
        display: block;
        flex: 1 100%;
        position: relative;
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .header__item img {
        margin-right: 10px;
    }

    .header__item:last-child {
        margin-bottom: 0;
    }

    .submenu::after {
        display: none;
    }

    .submenu {
        position: relative;
        opacity: 0;
        /* border: 2px solid rgb(80, 128, 253);
        border-radius: 5px;
        width: 100%;
        /* transform: translateY(110px); 
        background-color: #fff;
        opacity: 0;
        transition: 2s; */
    }

    .submenu__item a {
        color: #fff
    }


    /* .header__link:hover {
        opacity: 1;

    } */

    .header__link {
        color: white;
        font-size: 25px;
        line-height: 35px;
    }

    .header__nav-close {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
    }

    .header__nav-close-line {
        display: block;
        width: 100%;
        height: 5px;
        background-color: #fff;
        position: absolute;
        top: 50%;
    }

    .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }

    .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }

    .saerch__form input {
        border-radius: 25px;
        width: 100%;
        height: 25px;
    }

    .saerch__form {
        max-width: 600px;
        margin-bottom: 30px;
    }

    .saerch__form span {
        display: none;
    }

    .saerch__btn {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .header__nav {
        padding: 75px 30px;
    }
}